/wp-content/cache/
/wp-content/uploads/uag-plugin/assets/1000/
/wp-content/uploads/uag-plugin/assets/0/
/wp-content/ai1wm-backups/
/wp-content/updraft/
*.wprime
/wp-content/uploads/prime-mover-export-files/
/wp-content/uploads/prime-mover-lock-files/
/wp-content/uploads/prime-mover-tmp-downloads/
