.calendriers {
margin: 4em 2em 8em 2em !important;
display: flex;
justify-content: center;
gap: 2em;
}
.calendrier-spectacle {
width: calc(100vw / 1.618 / 1.618) !important;
height: calc(100vw / 1.618 / 1.618 / 1.618) ;
background-size: cover;
background-position: center;
margin: auto !important;
position: relative;
}
.calendrier-spectacle h2 {
color: white;
position: absolute;
bottom: 0;
left: 0;
right: 0;
z-index: 2;
}
.calendrier-spectacle a {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.33);
opacity: 0;
z-index: 1;
}
.calendrier-spectacle a:hover {
opacity: 1;
z-index: 1;
}
.lieu-dates {
display: flex;
flex-direction: column;
gap: 16px;
justify-content: center;
width: calc(100vw / 1.618 / 1.618);
margin: auto !important;
}
.dates-and-times {
display: flex;
align-items: flex-start;
gap: 24px;
}
table.table-calendrier {
border: none !important;
width: unset;
}
.table-calendrier th {
padding: 0 8px;
text-align: left;
border: none !important;
}
.table-calendrier th:first-child {
padding: 0 8px 0 0;
}
.table-calendrier th:last-child {
padding: 0 0 0 8px;
}
.table-calendrier td:first-child {
padding: 0 8px 0 0;
}
.table-calendrier td:last-child { padding: 0 0 0 8px;
}
.table-calendrier td {
padding: 0 8px;
border: none !important;
vertical-align: top;
}
.dashicons, .dashicons-before:before {
vertical-align: middle;
color: var(--ast-global-color-0);
}