.actualites-list {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.unique-actualite {
    width: calc(100vw / 1.618 / 1.618 / 1.618);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.unique-actualite img {
    width: calc(100vw / 1.618 / 1.618 / 1.618);
    height: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618);
    object-fit: cover;
    object-position: 50% 50%;
}

.unique-actualite h3 {
    font-size: 1.5em;
}