.collaborateurs-list {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.unique-collaborateur {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.unique-collaborateur img {
    width: calc(100vw / 1.618);
    height: calc(100vw / 1.618 / 1.618);
    object-fit: cover;
    object-position: 50% 50%;
}