/* Header */
.home .site-branding.ast-site-identity {
    display: none !important;
}
.home .site-content {
    margin-top: -80px !important;
}

/* Content */
.home article {
    gap: 0;
}

/* Logo */
.home-logo img {
    width: calc(100vmin / var(--ratio)) !important;
    height: calc(100vmin / var(--ratio)) !important;
}
@media (max-width: 360px){
    .home-logo img {
        width: calc(100vw - 2em) !important;
        height: calc(100vw - 2em) !important;
    }
}

/* Slogan */
.accueil-slogan {
    font-size: clamp(1.5em, 3.88vw, 2em) !important;
}