.home .site-branding.ast-site-identity {
    display: none !important;
}
.home .site-content {
    margin-top: -80px !important;
}

.home article {
    gap: 0;
}

.home-logo {
    width: calc(var(--wp--custom--ast-content-width-size) / var(--ratio)) !important;
    height: calc(var(--wp--custom--ast-content-width-size) / var(--ratio)) !important;
}