.astc_calendriers-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
}

article.astc_each-calendrier {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.astc_each-calendrier-thumbnail {
  width: calc(var(--wp--custom--ast-content-width-size) / var(--ratio)) !important;
  height: calc(var(--wp--custom--ast-content-width-size) / var(--ratio) / var(--ratio)) !important;
  margin: auto !important;
  overflow: hidden;
}

.astc_lieu-dates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.astc_publics-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}
  
.astc_table-calendrier {
  width: unset;
}
.astc_table-calendrier th {
  font-weight: 400;
  color: var(--ast-global-color-0);
}
.astc_table-calendrier th, .astc_table-calendrier td {
  border: none !important;
  padding: 0 0.5em;
  vertical-align: top;
}
.astc_table-calendrier th, .astc_table-calendrier td, .astc_table-calendrier p {
  text-align: left;
}
.astc_table-calendrier th:first-child, .astc_table-calendrier td:first-child {
  padding: 0 0.5em 0 0;
}
.astc_table-calendrier th:last-child, .astc_table-calendrier td:last-child {
  padding: 0 0 0 0.5em;
}

.dashicons, .dashicons-before:before {
  vertical-align: middle;
  color: var(--ast-global-color-0);
}

/* Responsive */

@media (max-width: 570px) and (min-width: 361px) {
  .astc_each-calendrier-thumbnail {
    width: calc(var(--wp--custom--ast-content-width-size)) !important;
    height: calc(var(--wp--custom--ast-content-width-size) / var(--ratio)) !important;
  }
}

@media (max-width: 360px){
  .astc_each-calendrier-thumbnail {
      width: calc(100vw - 2em);
      height: calc((100vw - 2em) / var(--ratio));
  }
}