.astc_posts-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.astc_each-post {
    width: calc(var(--wp--custom--ast-container-width) / var(--ratio) / var(--ratio));
    margin: 0 !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.astc_each-post * {
    margin: 0 !important;
}

.astc_each-post-thumbnail-link {
    position: relative;
}

.astc_each-post-thumbnail {
    width: calc(var(--wp--custom--ast-container-width) / var(--ratio) / var(--ratio)) !important;
    height: calc(var(--wp--custom--ast-container-width) / var(--ratio) / var(--ratio) / var(--ratio)) !important;
    object-fit: cover;
    object-position: 50% 50%;
}

.astc_les-essentiels-du-lyon {
    width: 4em !important;
    height: 4em !important;
    position: absolute;
    top: -1em;
    right: -1em;    
}

.astc_each-post h2, .astc_each-post h3 {
    font-size: 1.5em !important;
}

.astc_each-post-read-more {
    margin-top: auto !important;
}

/* Responsive */

@media (max-width: 960px) {
    .astc_each-post {
        width: calc(var(--wp--custom--ast-container-width) / var(--ratio)) !important;
    }
    .astc_each-post-thumbnail {
        width: calc(var(--wp--custom--ast-container-width) / var(--ratio)) !important;
        height: calc(var(--wp--custom--ast-container-width) / var(--ratio) / var(--ratio)) !important;
    }
}

@media (max-width: 570px) {
    .astc_each-post {
        width: var(--wp--custom--ast-container-width) !important;
    }
    .astc_each-post-thumbnail {
        width: var(--wp--custom--ast-container-width) !important;
        height: calc(var(--wp--custom--ast-container-width) / var(--ratio)) !important;
    }
}

@media (max-width: 360px){
    .astc_each-post {
        width: calc(100vw - 2em) !important;
    }
    .astc_each-post-thumbnail {
        width: calc(100vw - 2em) !important;
        height: calc((100vw - 2em) / var(--ratio)) !important;
    }
}