html body {
    --wp--custom--ast-container-width: calc(100vw / 1.618) !important;
    --wp--custom--ast-content-width-size: calc(100vw / 1.618) !important;
    --wp--custom--ast-wide-width-size: calc(calc(100vw / 1.618) + var(--wp--custom--ast-default-block-left-padding) + var(--wp--custom--ast-default-block-right-padding)) !important;
  }

.site-content *, .wp-block-cover * {
    margin: 0 !important;
}
.ast-container {
    padding: 0 !important;
    max-width: var(--wp--custom--ast-content-width-size) !important;
    margin: auto !important
}
.entry-content {
    max-width: var(--wp--custom--ast-content-width-size) !important;
    margin: auto !important
}
.alignfull {
    width: 100vw !important;
    margin-right: 0 !important;
    margin-left: calc((100% - 100vw) / 2) !important;
}
.alignwide {
    width: 100% !important;
    margin: 0 auto !important;
}

.ast-mobile-popup-drawer .ast-mobile-popup-inner {
    width: 30% !important;
    min-width: 320px !important;
}

.wp-block-cover .wp-block-cover__inner-container, .wp-block-cover-image .wp-block-cover__inner-container {
    max-width: 100% !important;
}
.wp-block-embed {
    width: 100%;
}

td {
    border-right-color: var(--wp--preset--color--ast-global-color-0) !important;
    border-left-color: var(--wp--preset--color--ast-global-color-0) !important;
}

.swiper-pagination-bullet {
    margin: 0 0.5em !important;
}