:root {
    --ratio: 1.618;
}

/* Modify ast variables */
html body {
    --wp--custom--ast-container-width: calc(100vw / var(--ratio)) !important;
    --wp--custom--ast-content-width-size: calc(100vw / var(--ratio)) !important;
    --wp--custom--ast-wide-width-size: calc(calc(100vw / var(--ratio)) + var(--wp--custom--ast-default-block-left-padding) + var(--wp--custom--ast-default-block-right-padding)) !important;
    --wp--custom--ast-default-block-top-padding: 0 !important;
    --wp--custom--ast-default-block-right-padding: 0 !important;
    --wp--custom--ast-default-block-bottom-padding: 0 !important;
    --wp--custom--ast-default-block-left-padding: 0 !important;
}

/* Font */
body {
    font-size: 16.18px;
}
h1 {
    font-size: 4.5em !important;
}
h2{
    font-size: 3em !important;
}
h3{
    font-size: 2.5em !important;
}
h4 {
    font-size: 2em !important;
}
h5 {
    font-size: 1.5em !important;
}
h6 {
    font-size: 1em !important;
}
.gold {
    color: var(--ast-global-color-0);
}

/* Margins */
*:not(.site-footer) {
    margin: 0 !important;
}
.ast-container, .ast-container-fluid, article {
    padding: 0 !important;
}

/* Site Header */
.main-header-bar {
    background-color: transparent !important;
}

/* Content */
article, .entry-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8em;
}

/* Content Width */
.entry-content > * {
    width: var(--wp--custom--ast-content-width-size);
    margin: 0 auto !important;
}
.entry-content[ast-blocks-layout] > * {
    max-width: unset;
}
.alignfull {
    width: 100vw !important;
    margin-left: calc((100% - 100vw) / 2) !important;
}

/* Post Navigation */
.nav-previous, .nav-next {
    text-align: center !important;
}

/* Popup Menu */
.ast-mobile-popup-inner {
    width: calc(100vw - var(--wp--custom--ast-container-width)) !important;
    max-width: unset !important;
}

/* Images */
img {
    height: calc(var(--wp--custom--ast-content-width-size) / var(--ratio)) !important;
    object-fit: cover;
    object-position: 50% 50%;
}
img[style*="aspect-ratio:9/16"], img[style*="aspect-ratio:3/4"], img[style*="aspect-ratio:2/3"] {
    height: calc(var(--wp--custom--ast-content-width-size) * var(--ratio)) !important;
}

/* Responsive */

@media (max-width: 960px) {
    
    h1 {
        font-size: 3em !important;
    }
    h2{
        font-size: 2em !important;
    }
    h3{
        font-size: 1.5em !important;
    }
    h4 {
        font-size: 1.5em !important;
        font-style: italic !important;
    }
    h5 {
        font-size: 1em !important;
    }
    h6 {
        font-size: 1em;
        font-style: italic !important;
    }

    article, .entry-content {
        gap: 4em;
    }

    .ast-mobile-popup-inner {
        width: min(calc(960 / var(--ratio) / var(--ratio)), 100%) !important;
    }
}

@media (max-width: 520px) {
    h1 {
        font-size: max(9.33vw, 1.5em) !important;
    }
    h2{
        font-size: max(6.22vw, 1.5em) !important;
    }
    h3{
        font-size: 1.5em !important;
    }
    h4 {
        font-size: 1.5em !important;
        font-style: italic !important;
    }
    h5 {
        font-size: 1em !important;
    }
    h6 {
        font-size: 1em;
        font-style: italic !important;
    }

    article, .entry-content {
        gap: 2em;
    }
}

@media (max-width: 360px){
    .entry-content section, .entry-content .wp-block-group {
        width: calc(100vw - 2em) !important;
        margin: 0 auto !important;
    }
}