:root {
    --ratio: 1.618;
}

/* Modify ast variables */
html body {
    --wp--custom--ast-container-width: calc(100vw / var(--ratio)) !important;
    --wp--custom--ast-content-width-size: calc(100vw / var(--ratio)) !important;
    --wp--custom--ast-wide-width-size: calc(calc(100vw / var(--ratio)) + var(--wp--custom--ast-default-block-left-padding) + var(--wp--custom--ast-default-block-right-padding)) !important;
    --wp--custom--ast-default-block-top-padding: 0 !important;
    --wp--custom--ast-default-block-right-padding: 0 !important;
    --wp--custom--ast-default-block-bottom-padding: 0 !important;
    --wp--custom--ast-default-block-left-padding: 0 !important;
}

/* Font */
body {
    font-size: 16.18px;
    text-wrap: balance;
}
p, h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
h1 {
    font-size: 4.5em !important;
}
h2{
    font-size: 3em !important;
}
h3{
    font-size: 2.5em !important;
}
h4 {
    font-size: 2em !important;
}
h5 {
    font-size: 1.5em !important;
}
h6 {
    font-size: 1em !important;
}
.marked {
    color: var(--ast-global-color-0);
}

/* Margins */
*:not(.site-footer) {
    margin: 0 !important;
}
.ast-container, .ast-container-fluid, article {
    padding: 0 !important;
}

/* Site Header */
.main-header-bar {
    background-color: transparent !important;
}
div.site-branding.ast-site-identity {
    flex-shrink: unset !important;
    flex-grow: unset !important;
    white-space: nowrap;
}

/* Content */
article, .entry-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8em;
}

/* Content Width */
.entry-content > * {
    width: var(--wp--custom--ast-content-width-size);
    margin: 0 auto !important;
}
.entry-content[ast-blocks-layout] > * {
    max-width: unset;
}
.alignfull {
    width: 100vw !important;
    /* margin-left: calc((100% - 100vw) / 2) !important; */
}

/* Post Navigation */
.nav-previous, .nav-next {
    text-align: center !important;
}

/* Popup Menu */
.ast-mobile-popup-inner {
    width: calc(100vw - var(--wp--custom--ast-container-width)) !important;
    max-width: unset !important;
}
a.menu-link {
    border-color: unset !important;
    padding: unset !important;
}
.ast-mobile-popup-content {
    display: flex !important;
    flex-direction: column;
    padding: 0 1em 2em 1em !important;
    gap: 2em;
}
.ast-mobile-popup-content > * {
    padding: 0 !important;
}
.ast-mobile-popup-content h2 {
    font-size: 1.5em !important;
}
.header-widget-area {
    display: flex !important;
    flex-direction: column;
    gap: 1em;
}

/* Images */
img {
    width: var(--wp--custom--ast-content-width-size) !important;
    max-width: var(--wp--custom--ast-content-width-size) !important;
    height: calc(var(--wp--custom--ast-content-width-size) / var(--ratio)) !important;
    object-fit: cover;
    object-position: 50% 50%;
}
img[style*="aspect-ratio:9/16"], img[style*="aspect-ratio:3/4"], img[style*="aspect-ratio:2/3"] {
    width: min(calc((100vh - 5em) / var(--ratio)), var(--wp--custom--ast-content-width-size)) !important;
    max-width: var(--wp--custom--ast-content-width-size) !important;
    height: min(calc(100vh - 5em), calc(var(--wp--custom--ast-content-width-size) * var(--ratio))) !important;
}

/* Responsive */

@media (max-width: 960px) {
    
    h1 {
        font-size: 3em !important;
    }
    h2{
        font-size: 2em !important;
    }
    h3{
        font-size: 1.5em !important;
    }
    h4 {
        font-size: 1.5em !important;
        font-style: italic !important;
    }
    h5 {
        font-size: 1em !important;
    }
    h6 {
        font-size: 1em;
        font-style: italic !important;
    }

    article, .entry-content {
        gap: 4em;
    }

    .ast-mobile-popup-inner {
        width: min(calc(960 / var(--ratio) / var(--ratio)), 100%) !important;
    }
}

@media (max-width: 520px) {

    h1 {
        font-size: max(9.33vw, 1.5em) !important;
    }
    h2{
        font-size: max(6.22vw, 1.5em) !important;
    }
    h3{
        font-size: 1.5em !important;
    }
    h4 {
        font-size: 1.5em !important;
        font-style: italic !important;
    }
    h5 {
        font-size: 1em !important;
    }
    h6 {
        font-size: 1em;
        font-style: italic !important;
    }

    article, .entry-content {
        gap: 2em;
    }
}

@media (max-width: 360px){

    .entry-content section:not(.alignfull), .entry-content .wp-block-group:not(.alignfull):not(.spectacle-content):not(.spectacle-content *) {
        width: calc(100vw - 2em) !important;
        margin: 0 auto !important;
    }

    img {
        width: calc(100vw - 2em) !important;
        max-width: calc(100vw - 2em) !important;
        height: calc((100vw - 2em) / var(--ratio)) !important;
    }
    img[style*="aspect-ratio:9/16"], img[style*="aspect-ratio:3/4"], img[style*="aspect-ratio:2/3"] {
        width: min(calc((100vh - 5em) / var(--ratio)), calc(100vw - 2em)) !important;
        max-width: calc(100vw - 2em) !important;
        height: min(calc(100vh - 5em), calc(calc(100vw - 2em) * var(--ratio))) !important;
    }
    *[style*="font-size:32px"], *[style*="font-size:32.36px"], *[style*="font-size:2em"] {
        font-size: 1.5em !important;
    }
}