.spectacle-breadcrumb {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em;
    border: var(--ast-global-color-0) solid 1px;
    background-color: white;
    z-index: 10;
}

.spectacle-breadcrumb-link {
    color: var(--ast-global-color-1);
}
.spectacle-breadcrumb-link:hover {
    color: var(--ast-global-color-0);
}
.spectacle-breadcrumb-current {
    color: var(--ast-global-color-0) !important;
}

/* .swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
    content: "\f341";
}
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
    content: "\f345";
} */