#post-245 .entry-content {
    margin-top: 4em !important;
    margin-bottom: 8em !important;
}

.spectacles-list {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.unique-spectacle {
    width: calc(100vw / 1.618 / 1.618 / 1.618);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.unique-spectacle img {
    width: calc(100vw / 1.618 / 1.618 / 1.618);
    height: calc(100vw / 1.618 / 1.618 / 1.618 / 1.618);
    object-fit: cover;
    object-position: 50% 50%;
}

.unique-spectacle h2 {
    font-size: 1.5em;
}

.gold {
    color: var(--ast-global-color-0);
}

.spectacle-slider-group {
    position: relative;
    overflow: hidden;

}
.spectacle-hgroup {
    position: absolute;
    bottom: 5em;
    left: 0;
    z-index: 2;
}
.spectacle-hgroup p {
    font-size: 1.5em;
    font-style: italic;
    color: white;
}

.wp-block-uagb-slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.uagb-slides.uagb-swiper {
    position: fixed;
    width: 100vw;
    height: 100vh !important;
}

.spectacle-content {
    position: relative;
    z-index: 3;
}

.spectacle-content .wp-block-group:not(.alignfull) {
    width: calc(100vw / 1.618) !important;
}

.post-navigation {
    position: relative;
    z-index: 3;
    background-color: white;
}

.site-footer {
    position: relative;
    z-index: 3;
}

.scroll-margin-top {
    scroll-margin-top: 4em;
}