.home .site-branding.ast-site-identity {
display: none !important;
}
.home .ast-primary-header-bar {
background-color: transparent !important;
}
.home .site-content {
margin-top: -80px !important;
}
.home .entry-content {
max-width: var(--wp--custom--ast-content-width-size) !important;    
}