.spectacle-breadcrumb {
background-color: white;
border: var(--ast-global-color-0) solid 1px;
width: 100vw;
}
.spectacle-breadcrumb tr * {
border: none;
text-align: center;
white-space: nowrap;
}
.spectacle-breadcrumb tr td:not(:last-child):not(:first-child) {
width: 1%;
}
.spectacle-breadcrumb tr td:first-child {
text-align: right;
}
.spectacle-breadcrumb tr td:last-child {
text-align: left;
}
.spectacle-breadcrumb-link {
color: var(--ast-global-color-1);
}
.spectacle-breadcrumb-link:hover {
color: var(--ast-global-color-0);
}
.spectacle-breadcrumb-current {
color: var(--ast-global-color-0) !important;
}